<%-include('../Includes/header.ejs')%>
</head>
<body>
<header>
  <%-include('../Includes/navbar.ejs')%>
</header>
<main>
  <section class="py-5">
    <div class="container">
      <form action="/create-category" method="POST">
        <h1><%= message%></h1>
        <label>Category Name</label>
        <input type="text" name="category" id="category" >
        <input type="submit" >
      </form>
    </div>
  </section>
</main>
<%-include('../Includes/footer.ejs')%>
