<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand" href="/">ECommerce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link <%= path === '/add-category' ? 'active' : ' ' %>"  href="/add-category"> Add Category </a>
              </li>            
              <li class="nav-item">
                <a class="nav-link <%= path === '/view-category' ? 'active' : ' ' %>"  href="/view-category"> View Category </a>
              </li>            
              <li class="nav-item">
                <a class="nav-link <%= path === '/show-product-form' ? 'active' : '' %>" href="/show-product-form">Add Product </a>
              </li>                    
              <li class="nav-item">
                <a class="nav-link <%= path === '/show-product-table' ? 'active' : '' %>" href="/show-product-table">View Product</a>
              </li>                    
            </ul>          
          </div>
        </div>
      </nav>
</header>