<%-include('../Includes/header.ejs')%>
</head>
<body>
    <header>
        <%-include('../Includes/navbar.ejs')%>
    </header>
    <main>
        <section class="py-5">
            <div class="container">
                <h2 class="text-center">
                   Home Page
                </h2>
    </main>

    <%-include('../Includes/footer.ejs')%>